/* 공통 */



/***** 칸반보드 페이지 *****/
/* 모바일버전 최근-즐겨찾기 */
.recently_list_btn_popup {
    visibility: hidden;
    width: 80vw;
    max-height: 70vh;
    background-color: #fff;
    padding: 10px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 1);
    border: 1px solid #D3D3D3;
}
.recently_list_btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
 }
.recently_list_top_set {
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.recently_list_close {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
/* Toggle this class when clicking on the popup container (hide and show the popup) */
  .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
  
    /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

    /*스크롤바 제어*/
.part > ul::-webkit-scrollbar-button {
    display: none;
}

.part > ul::-webkit-scrollbar {
    width: 6px; height: 6px;
}

.part > ul::-webkit-scrollbar-thumb {
    background-color: #8b8b8b;
    border-radius: 4px;
}

.part > ul::-webkit-scrollbar-track {
    margin: 10px 0;
}

.part ul {
    list-style-type: none;
    cursor: pointer;
}

/* 임의헤더 */
header.random_header {
    height: 100px;
    background: #1C2B55;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
* {
    font-family: 'Noto Sans KR', sans-serif;
}

.kanbanboard_container {
    height: calc(100vh - 100px);
    display: flex;
}
section.kanbanboard {
    width: calc(100% - 300px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    margin: 30px 10px;
    height: fit-content;
}
.go_btn_set button {
    width: 120px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    margin-right: 5px;
    transition: all 0.3s;
}

.recently_list_btn {
    background-color: #1c2b55db;
}
.recently_list_btn:hover {
    
}
.favorite_list_ul_btn {
    background: #1C2B55;
}
.favorite_list_ul_btn:hover {

}
.space {
    background: #fff;
    height: 170px;
    margin: 0 15px 30px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid #E3E3E3;
    box-shadow: 0px 9px 10px rgb(0 0 0 / 3%);
}
.space .kanbanboard_space_title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}
.space .folder_icon {
    display: flex;
    width: 24px;
    margin-right: 10px;
}

.fav_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0 10px;
    border-radius: 3px;
    /* border: 1px solid #d3d3d3; */
    background-color: #edac02;
    font-size: 14px;
    margin: 0;
    color: #fff;
}
.fav_btn:hover {
    background-color: #D99C02;
}
.fav_btn.remove {
    color: #edac02;
    border: 1px solid #edac02;
    background-color: #fff;
    box-sizing: border-box;
}
.fav_btn.remove:hover {
    border: 1px solid #D99C02;
    color: #D99C02;
    background-color: #d99c021f;
}
.space .star_icon {
    width: 20px;
    display: flex;
    margin-left: 5px;
}

nav.snb {
    width: 300px;
    background-color: #F8F8F8;
}
.recently.part {
    height: 300px;
}
.favorite.part {
    height: calc(100% - 300px);
}
.favorite.part::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #f8f8f8;
}
nav.snb .part {
    padding: 35px 16px;
    overflow: hidden;
}
.part_title {
    font-size: 24px;
    font-weight: 800;
    color: #141E3C;
    margin-bottom: 15px;
}
.recently_list_ul, .favorite_list_ul {
    margin: 0;
    overflow: hidden;
    overflow-y: scroll;
    height: -webkit-fill-available;
}
.recently_list_li, .favorite_list_ul_name {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.recently_list_space_title, .favorite_list_space_title {
    color: #141E3C;
    font-size: 17px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



nav.snb .folder_icon, .snb .star_icon, .recently_list_btn_popup .folder_icon, .favorite_list_btn_popup .star_icon {
    width: 20px;
    display: flex;
    margin-right: 10px;
}
.snb .star_icon {
    margin-left: 5px;
}
.recently_list_li .folder_icon img, .favorite_list_ul_name .star_icon img {
    width: 100%;
}

/***** 카테고리 디테일 페이지 *****/
.category_details_container {
    margin: 0 auto;
    padding: 30px 20px;
}
.category_title_box {

}
.category_title_box p {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
    color: #535353;
}
.order_chk_set {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.order_chk_set > div {
    display: flex;
    align-items: center;
}
input[type="checkbox"].order_chk_box {
    display: none;
}
label.order_chk_box_label {
    width: 13px;
    height: 13px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
}
.order_chk_set input[type="checkbox"]+label {
    margin-left: 10px;
    margin-right: 5px;
}
label.order_chk_box_label_text {
    width: fit-content;
    display: block;
    margin-left: 0;
    margin-right: 0;
}
input.category_title_txt {
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    font-size: 24px;
    font-weight: 800;
    color: #222;
    line-height: 30px;
    margin: 0 0 20px 0;
}
.history_board_wrap table {
    width: 100%;
    border: none;
}
.history_board_wrap table thead {
    height: 44px;
    background: #f6f6f6;
}
.history_board_wrap th {
    text-align: center;
}
.history_board_wrap th:nth-child(1) {
    width: calc(100% - 160px);
}
.history_board_wrap th:nth-child(2) {
    width: 160px;
}
.history_board_wrap tbody tr {
    height: 44px;
    background: #ffffff;
    border-bottom: 1px solid #d3d3d3;
}
.history_board_wrap td.writer {
    text-align: center;
}
.category_title_txt {

}


/*페이지버튼*/
div.page_btn_box
{width: 100%;
margin-top: 30px;
display: flex;
align-items: center;
justify-content: flex-end;}

ul.pagination
{min-height: 40px;}

ul.pagination li
{margin: 0; height: 40px;}

ul.pagination li a
{padding: 0; 
width: 35px; height: 35px;
display: flex;
align-items: center;
justify-content: center; color: #222;}

/*부트스트랩 클릭시 생기는 선 삭제*/
.page-link:focus, .page-link:active 
{box-shadow: none;
background-color: #1c2b55 !important;}

.page-link:focus, .page-link:hover 
{background-color: #1c2b55 !important;
color: #fff !important;}

.page-link:focus, .page-link:active 
{color: #fff !important;}



@media all and (max-width: 1024px) {

}

@media (max-width: 1000px) {
    
    /***** 칸반보드 페이지 *****/  
    .kanbanboard_container {
        display: block;
    }
    section.kanbanboard {
        width: 100%;
        grid-template-columns: 1fr;
    }
    .space {
        height: 120px;
        margin: 0 15px 15px 15px;
    }
    .go_btn_set {
        height: 60px;
        display: flex !important;
        justify-content: flex-end;
        align-items: end;
    }
    nav.snb {
        display: none;
    }
    .part_title {
        padding: 0 16px;
        margin-bottom: 0;
    }
    .recently_list_ul, .favorite_list_ul {
        border-top: 1px solid #D3D3D3;
        padding: 0 16px;
    }
    .part .recently_list_ul, .part .favorite_list_ul {
        height: calc(100% - 50px);
    }

    .recently_list_top_set {
        height: 50px;
        margin-bottom: 10px;
        padding-top: 0;
        padding-right: 10px;
    }

    /***** 카테고리 디테일 페이지 *****/

}