@keyframes swal2-show{0%{transform:translateX(-50%) translateY(-50%) scale(.7)}45%{transform:translateX(-50%) translateY(-50%) scale(1.05)}80%{transform:translateX(-50%) translateY(-50%) scale(.95)}100%{transform:translateX(-50%) translateY(-50%) scale(1)}}

@font-face {
    font-family: 'notosan';
    src: url('/park/fonts/noto_san/NotoSans-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
  -webkit-tap-highlight-color:transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: auto; /* Safari */
  -moz-user-select: auto; /* Old versions of Firefox */
  -ms-user-select: auto; /* Internet Explorer/Edge */
  user-select: auto; /* Chrome, Edge, Opera and Firefox */
  font-family:'notosan';
}



.root_daum_roughmap{
  width:100%;
  height:100%;
}


.content{
    width:100%;
    height: 100%;
}


.dot {overflow:hidden;float:left;width:12px;height:12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/mini_circle.png');}
.dotOverlay {position:relative;bottom:10px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;font-size:12px;padding:5px;background:#fff;}
.dotOverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.number {font-weight:bold;color:#ee6152;}
.dotOverlay:after {content:'';position:absolute;margin-left:-6px;left:50%;bottom:-8px;width:11px;height:8px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white_small.png')}
.distanceInfo {position:relative;top:5px;left:0px;list-style:none;margin:0;}
.distanceInfo .label {display:inline-block;width:50px;}
.distanceInfo:after {content:none;}

.info_calc, .click_guide {position:relative;top:5px;left:5px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;font-size:12px;padding:5px;background:#fff;list-style:none;margin:0;}
.info_calc:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.info_calc .label {display:inline-block;width:28px;}
.number {font-weight:bold;color:#00a0e9;}


.polymer_calc, .polymer_info, .polymer_guide {position:relative;top:5px;left:5px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;font-size:12px;padding:5px;background:#fff;list-style:none;margin:0;}
.polymer_calc:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.polymer_calc .label {display:inline-block;width:28px;}

.polymer_confirm_cancel{
  font-size: 0.7em;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  padding: 6px;
  margin-left: 4px;
  background: #808080;
  color: #fff;
}

.circle_cancel{
  font-size: 1em;
  border-radius: 5px;
  text-align: center;
  padding: 9px;
  margin-left: 4px;
  background: #808080;
  color: #fff;
}


.rectangle_cancel{
  font-size: 1em;
  border-radius: 5px;
  text-align: center;
  padding: 9px;
  margin-left: 4px;
  background: #808080;
  color: #fff;
}




.cert_button_div{text-align:center;position:relative;top:5px;left:5px;font-size:12px;padding:5px;list-style:none;margin:0;}

.cert_button{
  font-size: 1em;
  border-radius: 5px;
  text-align: center;
  padding: 9px;
  margin-left: 4px;
  background: #4B89DC;
  color: #fff;
}

.clicked_circle{
  border-radius:50%;
  width:10px;
  height:10px;
  background:#ff0000;
}


.map_wrap {position:relative;width:100%;height:calc(100% - 42px);}
.title {font-weight:bold;display:block;}
.hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
.excel_name{position:absolute;left:10px;top:10px;z-index:1000;}
.excel_name > div{border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;cursor:pointer;}
#centerAddr {display:block;margin-top:2px;font-weight: normal;}
.bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.bAddr div{
  font-size:0.9em;
}


dl, li, menu, ol, ul {
    list-style: none;
}





.count_label{
  width:50px;
  height:50px;
  line-height:50px;
  background-color:#00000090;
  text-align:center;
  color:#fff;
  border-radius:50%;
}


.cluster_back_blue{
  background: url(/park/img/cluster.png) 0px 0px;
  cursor: pointer;
  width: 52px;
  height: 52px;
  line-height: 52px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;

}

.cluster_back_green{
  background: url(/park/img/cluster.png) 0px -90px;
  cursor: pointer;
  width: 56px;
  height: 57px;
  line-height: 57px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.cluster_back_yellow{
    background: url(/park/img/cluster.png) 0px -180px;
    cursor: pointer;
    width: 67px;
    height: 67px;
    line-height: 65px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.cluster_back_orange{
    background: url(/park/img/cluster.png) 0px -270px;
    cursor: pointer;
    width: 78px;
    height: 78px;
    line-height: 79px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.cluster_back_red{
    background: url(/park/img/cluster.png) 0px -360px;
    cursor: pointer;
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}




/* 로딩바 css */

.loading_div{
  text-align: center;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.1);
  z-index: 100000;
  display:none;
}

.loading_div:after{display:inline-block; height:100%; content:""; vertical-align:middle;}

.loading_div img{
  width:60px;
  height:60px;
  vertical-align:middle;
  margin: auto;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
}


.swal-title{
  font-weight:400 !important;
}


#nosang_chk{
    width: 33px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    display:unset;
}


.search_chk{
    width: 40px;
    height: 45px;
    position: absolute;
    left: 48px;
    top: 0px;
    opacity: 0;
    display:unset;
}





.swal-title{
  font-size:17px;
  color:#000000;
}








/* 폐곡선 도형 그리는 스타일 */

.draw_tool{
  position: fixed;
  top: 30px;
  left: 0px;
  z-index: 10000;
  width: 110px;
}

.draw_btn{
  background-color:#fffffff0;
  margin: 7px 0px;
  padding: 6px 6px;
  z-index:10000;

}


.edit_draw_btn{
  color: #9e9e9e;
  padding: 7px 7px;
  margin: 5px 0px;
  background-color:#fffffff0;
  z-index:10000;
}


.modes {position: absolute;top: 0px;left: 5px;z-index: 1;}
.edit {position: absolute;top: 158px;left: 5px;z-index: 1;}
#drawingMap {width: 100%;height: 350px;}
#undo.disabled, #redo.disabled {color:#9e9e9e;display:none;}

.draw_on{
  background : #50BCDF;
}


.red_point{
  width:5px;
  height:5px;
  background:#ff0000;
  border-radius:50%;
}


.rectangle_close{
  background: #fff;
  border-radius: 50%;
  width: 23px;
  height: 24px;
  text-align: center;
}
